{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'registration_style.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
